<h1>Tickets</h1>

<% @tickets.each do |t| %>
  <h2><%= t.project.name %></h2>

  <div>
    <ul>

      <li>
        <h3>Ticket: <%= t.title %> - <%= t.user.username %></h3>
        <p>
         <h4>Description  <%= t.description %></h4>
         <br />


         <%= t.updates.each do |i| %>
         <br />
         <%= i.content %> - <%= i.user.username %>
         <br />

         <% end %>
        </p>
      </li>
    </ul>

  </div>
<% end %>
