<!DOCTYPE html>
<html>
  <head>
    <title>BugMeNot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <%= link_to "Submit Ticket", new_ticket_path %>
    <%= link_to "All Tickets", tickets_path %>
    <%= link_to "All Projects", projects_path %>
    <%= link_to "All Updates", updates_path %>
  </div>

  <body>

    <%= yield %>
  </body>
</html>
